:host {

  .login-mat-card {
    height: 600px;
    width: 450px;

    .logo-container {
      margin-bottom: 15px;

      img {
        height: 75px;
        width: auto;
      }
    }

    .login-button {
      width: 250px;
      margin-bottom: 5px;
    }
  }

}
