<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row">
    <div class="logo-container">
      <img src="assets/images/logos/logo.png"/>
    </div>

    <!--BARRA DE BUSQUEDA-->
    <div fxFlex
         class="search-bar"
         fxLayout="row"
         fxLayoutAlign="start center">
      <mat-icon>search</mat-icon>
      <input fxFlex placeholder="Buscar" type="text" [(ngModel)]="searchInput" (keyup)="buscar()"/>
    </div>

    <!--Boton para ir al carro de compras-->
    <div fxLayout="row" fxLayoutAlign="end center">
      <button mat-icon-button aria-label="Carro de compras" title="Ir al carro de compras" (click)="goToShoppingCart()">
        <mat-icon [matBadge]="quantityProductsInShoppingCart"
                  matBadgeColor="warn"
                  *ngIf="quantityProductsInShoppingCart > 0">
          shopping_cart
        </mat-icon>
        <mat-icon *ngIf="quantityProductsInShoppingCart <= 0">shopping_cart</mat-icon>
      </button>
    </div>

    <!--Boton login-->
    <div fxLayout="row" fxLayoutAlign="end center" *ngIf="showLoginButton">
      <button mat-icon-button aria-label="Login button" title="Ingresar a mi cuenta" (click)="goToLogin()">
        <mat-icon>perm_identity</mat-icon>
      </button>
    </div>

    <!--MI PERFIL-->
    <div fxLayout="row" fxLayoutAlign="end center" *ngIf="showProfileMenu">

      <button mat-button class="user-button" [matMenuTriggerFor]="userMenu">
        <img [src]="photoURL" class="avatar">
        <span class="username">{{userName}}</span>
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>

      <mat-menu #userMenu="matMenu">
        <button mat-menu-item>
          <mat-icon>account_circle</mat-icon>
          <span>Mi perfil</span>
        </button>

        <button mat-menu-item (click)="goToBackOffice()" *ngIf="haveAccessToBackOffice">
          <mat-icon>timeline</mat-icon>
          <span>Administrar tienda</span>
        </button>

        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Cerrar sesion</span>
        </button>
      </mat-menu>

    </div>
  </mat-toolbar-row>
</mat-toolbar>
